/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* @import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap'); */

@font-face {
    font-family: 'DS-Digital';
    src: url('DS-Digital-Bold.eot');
    src: url('DS-Digital-Bold.eot?#iefix') format('embedded-opentype'), url('DS-Digital-Bold.woff2') format('woff2'), url('DS-Digital-Bold.woff') format('woff'), url('DS-Digital-Bold.ttf') format('truetype'), url('DS-Digital-Bold.svg#DS-Digital-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DS-Digital';
    src: url('../fonts/DS-Digital.eot');
    src: url('../fonts/DS-Digital.eot?#iefix') format('embedded-opentype'), url('../fonts/DS-Digital.woff2') format('woff2'), url('../fonts/DS-Digital.woff') format('woff'), url('../fonts/DS-Digital.ttf') format('truetype'), url('../fonts/DS-Digital.svg#DS-Digital') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL STYLES */

:root {
    --font-primary: "Poppins", sans-serif;
    /* --font-primary: 'Silkscreen', cursive; */
    --font-secondary: "Arvo", serif;
    --font-code: "Roboto", monospace;
    --bg-color: #050505;
    --bg-color-transparent: #00163f80;
    --font-color: #ffffff;
    --btn-bg-color: #ffffff;
    --accent-color: #07010c;
    --header-shadow: var(--accent-color) 0px 0px 5px;
    --card-shadow: var(--accent-color) 0px 0px 20px;
    --roadmap-color: #41ff0087;
    --roadmap-shadow: var(--roadmap-color) 0px 5px 15px 5px;
    --font-lcd: "DS-Digital";
    --lcd-color: "#41FF00";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* * {
    outline: 1px solid red;
} */

ul,
ol {
    list-style-type: none;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    height: 100%;
    font-family: var(--font-primary);
    overflow-x: hidden;
    background-color: #23262D;
    background-color: #000;
}

.wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

h1 {
    font-family: var(--font-secondary);
    font-size: 48px;
    line-height: 50px;
    color: #41FF00;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-family: var(--font-secondary);
    font-size: 34px;
    line-height: 45px;
    color: #41FF00;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-family: var(--font-secondary);
    font-size: 28px;
    line-height: 35px;
    color: #41FF00;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

h4,
h5,
h6 {
    font-family: var(--font-secondary);
    font-size: 24px;
    line-height: 30px;
    color: #41FF00;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}


/* .container {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
    padding: 1rem 2rem;
    justify-content: center;
    /* overflow: hidden; 
} */

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 50px;
    /* overflow: hidden; */
}


/* HEADER */

header {
    background-color: var(--bg-color);
    box-shadow: var(--header-shadow);
    background-color: #23262D;
    box-shadow: var(--roadmap-shadow);
    background-color: #000;
}

header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* NOT CONNECTED */

.not-connected {
    position: relative;
    z-index: 1;
    align-items: center;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    opacity: 1;
    transform: translateY(10vh);
    transition: all 0.5s ease-in-out;
}

.not-connected {
    padding: 110px 0px;
}

.show-not-connected {
    opacity: 1;
    transform: translateY(0);
}

.not-connected h1 {
    text-shadow: 2px 2px 0 var(--accent-color);
    font-style: italic;
    margin: 2rem 0;
    font-size: 3.5rem;
}

.not-connected p {
    font-size: 1.1rem;
    font-family: var(--font-secondary);
    line-height: 1.8;
}

.not-connected a {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: bold;
}


/* BUTTONS */

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--btn-bg-color);
    color: var(--accent-color);
    font-family: var(--font-secondary);
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.3s ease;
    box-shadow: var(--header-shadow);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    outline: none;
}

.btn:hover {
    box-shadow: none;
}

.btn:disabled {
    cursor: default;
}

.wallet-btn {
    border-radius: 5rem;
    margin-left: 2rem;
    border-color: transparent;
}

.hero-btn {
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
}


/* CARD */

.card {
    position: relative;
    background-color: var(--bg-color);
    border-radius: 35px;
    border: 3px solid var(--accent-color);
    box-shadow: var(--card-shadow);
    padding: 2rem 5rem;
    margin-bottom: 2rem;
    /* opacity: 0; */
    transform: translateX(100vw);
    transition: all 0.5s ease-in-out;
}

.countdown.card {
    display: none;
}

.countdown.card.show-card {
    display: block;
}

.show-card {
    /* opacity: 1; */
    transform: translateX(0);
}


/* COUNTDOWN SECTION */

.countdown_section {}

.countdown_section .container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

section {
    flex: 1 1 auto;
}

#countdown {
    display: none;
    text-align: center;
}

.countdown_section .countdown.card.show-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--roadmap-shadow);
    margin-top: 60px;
}

.countdown ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.countdown .clock-item {
    list-style: none;
    width: 70px;
    height: auto;
    border: 1px solid #41FF00;
}

.countdown .clock-item .count-number {
    background: var(--accent-color);
    color: var(--lcd-color);
    font-size: 48px;
    font-weight: 400;
    font-family: var(--font-lcd);
    padding: 1rem 10px;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 1;
    border-radius: 4px 4px 0 0;
    color: #41FF00;
}

.countdown .clock-item .count-text {
    background: var(--btn-bg-color);
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    color: var(--bg-color);
    padding: 0.5rem 0.7rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 1;
    border-radius: 0 0 4px 4px;
}

.countdown h1 {
    text-shadow: 2px 2px 0 var(--accent-color);
    font-style: italic;
    margin: 2rem 0;
    font-size: 32px;
    text-align: center;
}

.countdown h2 {
    font-size: 32px;
    margin-top: 2rem;
    color: #fff;
}

.countdown>p {
    font-size: 1.1rem;
    font-family: var(--font-secondary);
    margin-bottom: 2rem;
    text-align: center;
}


/* MINT CONTAINER */

.mint-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.mint-qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--accent-color);
    border-radius: 5px;
}

.mint-qty>span {
    display: flex;
}

.mint-btn {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: auto;
    color: #fff;
    background-color: transparent;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #41ff0087;
    border-radius: 10px 10px 10px 10px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.mint-btn:hover {
    border-color: #41FF00;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.mint-qty .btn {
    color: #fff;
    background-color: transparent;
    border-width: 0px;
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-color: #41ff0087;
    font-size: 18px;
    font-style: normal;
}

.mint-qty .btn:hover {
    border-color: #41FF00;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.input-number {
    height: 100%;
    padding: 1rem;
    vertical-align: top;
    text-align: center;
    outline: none;
    padding: 1rem 15px 1rem 30px;
}

.input-number,
.input-number-decrement,
.input-number-increment {
    user-select: none;
}

.total-price-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0 2rem;
}

.total-price-container p {
    color: var(--accent-color);
}


/* MINTED CONTAINER */

.minted-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: var(--roadmap-shadow);
    padding: 40px 0px 20px;
}

.minted-container h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.minted-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.minted-container p {
    font-size: 20px;
    margin: 1rem 0;
}


/* SLIDDER */

.splide {
    position: unset;
    top: 90px;
    left: 5rem;
    z-index: -1;
    max-width: 1140px !important;
    padding: 50px 30px;
    margin: 0 auto;
}

.splide__slide {
    border: var(--accent-color) solid;
    border-width: 5px 10px;
}

.splide__slide img {
    width: 100%;
}


/* SPINNER */

.dot-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
}


/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .menu {
        gap: 1rem;
    }
    .wallet-btn {
        margin-left: 0;
        padding: 0.5rem 1rem;
        max-width: 8rem;
    }
    /* .not-connected {
        background-color: var(--bg-color-transparent);
        border-radius: 5px;
        padding: 2rem;
        margin: 0 auto;
    }
    .countdown ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .countdown .clock-item {
        width: 100%;
    }
    .countdown .clock-item .count-number {
        font-size: 1.5rem;
    }
    .countdown .clock-item .count-text {
        font-size: 1rem;
    }
    .countdown h1 {
        font-size: 2rem;
        margin: 1rem 0;
    }
    .countdown h2 {
        padding-top: 0.5rem;
    }
    .countdown p {
        font-size: 1rem;
    }
    .card {
        padding: 1rem;
    }
    .mint-qty .btn {
        padding: 1rem;
        font-size: 13px;
    } */
}


/* UTILITIES */

.hidden {
    display: none;
}


/* Style By Annon start */

header .header_top {
    padding-top: 10px;
}

header .header_top ul.header-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 210px;
    z-index: 99;
}

header .header_top ul.header-social li {
    padding: 13px 10px 6px;
    background-color: #000;
    border: 1px solid #41ff0087;
}

header .header-bottom {
    padding: 20px 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

header .logo {
    width: calc(100% - 90%);
}

header .header-bottom .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    padding: 0px 0px 0px 30px;
}

.menu .menu_inner {
    display: flex;
    width: 70%;
    justify-content: center;
}

header .menu ul.menu_inner li {
    display: inline-block;
    vertical-align: top;
}

header .menu ul.menu_inner li:not(:last-child) {
    margin-right: 50px;
}

header .menu ul.menu_inner li a {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 500;
    font-family: var(--font-secondary);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

header .menu ul.menu_inner li a:hover {
    color: #41FF00;
    transition: all .4s ease;
}

header .menu ul.menu_inner li a::after {
    content: " ";
    display: block;
    width: 0;
    height: 2px;
    background: #41FF00;
    transition: width .3s;
    margin-top: 5px;
}

header .menu ul.menu_inner li a:hover::after {
    width: 80%;
}

header .menu .btn {
    color: #fff;
    background-color: transparent;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #41ff0087;
    border-radius: 10px 10px 10px 10px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

header .menu .btn:hover {
    border-color: #41FF00;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.accordion_section {
    padding: 50px 0px;
}

.accoridon .row {
    /* display: flex; */
}

.accoridon .col {}

.accoridon input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.accoridon input:checked {
    background: rge(44, 62, 80, 0.2);
}

.accoridon .tab-content {
    display: none;
    color: #000;
}

.accoridon input:checked~.tab-content {
    max-height: 100vh;
    padding: 1em;
    background-color: #ffffff;
    display: block;
}

.accoridon .tabs {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.accoridon .tab {
    width: 100%;
    color: white;
    overflow: hidden;
    margin-bottom: 2px;
}

.accoridon .tab label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #2c3e50;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.accoridon .tab label:hover {
    background: rge(44, 62, 80, 0.2);
}

.accoridon .tab label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .35s;
}

.splide__slide {
    max-width: 331px;
    border-width: 0px;
    margin-right: 30px;
}

.splide__slide img {
    /* transform: rotateY(180deg); */
    max-width: 100%;
}

.splide__slide img:hover {
    transform: rotateY(360deg);
}

.page_roadmap_section {
    padding: 60px 0px;
}

.page_roadmap_inner h2 {}

.page_roadmap_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.page_roadmap_list .page_roadmap_item {
    position: relative;
    padding: 90px 30px 40px 50px;
    flex: calc( 50% - 30px);
    border-radius: 10px;
    box-shadow: 0px 5px 15px 5px #41ff0087;
    min-height: 325px;
}

.page_roadmap_list .page_roadmap_item:not(:nth-child(3)),
.page_roadmap_list .page_roadmap_item:not(:nth-child(4)) {
    margin-right: 30px;
    margin-bottom: 30px;
}

.page_roadmap_section .page_roadmap_item .page_roadmap_heading {
    position: absolute;
    top: 6px;
    left: 0;
}

.page_roadmap_section .page_roadmap_item span {
    padding: 10px 25px 10px 25px;
    border-radius: 0px 0px 20px 0px;
    color: #fff;
    background-color: #01DE8E;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
}

.page_roadmap_details ol li {
    list-style-type: disc;
}

.minted-container .hero-btn {
    color: #fff;
    background-color: transparent;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #41ff0087;
    border-radius: 10px 10px 10px 10px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.minted-container .hero-btn:hover {
    border-color: #41FF00;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.mint-container .info-container p {
    font-size: 20px;
    color: #fff;
}

.mint-qty .input.mint-qty-number:hover,
.mint-qty .input-number-decrement:hover,
.mint-qty .input-number-increment:hover {
    border-color: #41FF00;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.splide__slide.is-visible {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.splide__slide.is-visible.is-active img {
    transform: rotateY(380deg);
}


/* Style footer start */

.nft-calender-section h4 {
    text-align: left;
}

.nft-calender-col {
    padding: 0px 15px;
    margin-bottom: 20px;
}

.nft-calender-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nft-calender-col img {
    width: 240px;
    height: 120px;
}

#footer {
    background-color: #000;
    box-shadow: var(--roadmap-shadow);
}

.footer-inner {
    padding: 50px 0px;
}

.footinner-cols {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.footcol1 {
    width: 25%;
    /* max-width: 245px; */
}

.footlogo {
    margin-bottom: 25px;
}

.footlocation i,
.footphone i,
.footemail i {
    padding-right: 10px;
}

.footlocation {
    margin-bottom: 20px;
}

.location {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.footlocation i {
    padding-top: 8px;
}

.footphone {
    margin-bottom: 10px;
}


/* .footphone a:hover , .footemail a:hover {
    color: #0073e1;
  }  */

.footcol2 {
    width: 75%;
}


/* Style footer end */


/* Style By Annon start */

.copyright-section {
    padding: 45px 0px;
}

.copyrightcol {
    text-align: center;
}

.copyrightcol p {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    font-style: normal;
    letter-spacing: 0.7px;
    line-height: 27px;
}

.foot-link a {
    font-size: 14px;
    font-weight: 300;
    color: #41FF00;
    font-style: normal;
    line-height: 27px;
}

.foot-link a:hover {
    color: #fff;
}


/* Hamburger Menu CSS START */

.hamburgermenu {
    display: flex;
    align-items: center;
    background-color: #4f8485;
    padding: 2px 18px;
    border-radius: 23px;
    cursor: pointer;
    z-index: 101;
    margin-left: 29px;
    padding: 16px;
}

.hamburgermenu p {
    font-size: 18px;
    font-weight: 500;
    line-height: 0px;
    color: white;
    margin-right: 17px;
    text-transform: capitalize;
}

.hamburgermenu:hover {
    color: white;
    transition: ease-in-out 0.5s;
}

.hamburgermenu:hover .line1 .line2 .line3 {
    color: #4f8485;
}

.hamburgermenu .line {
    background-color: white;
    width: 22px;
    height: 3px;
    margin-bottom: 6px;
    border-radius: 50px;
}

.hamburgermenu:hover .line {
    background-color: #fff;
}

.hamburgermenu .line3 {
    margin-bottom: 0px;
}

.hamburgermenu .line2 {
    transform: translateX(-4px);
}

.hamburgermenu.change p {
    display: none;
}

.change .line1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 4px);
    transform: rotate(-45deg) translate(-2px, 4px);
    transition: ease-in-out 0.5s;
}

.change .line2 {
    display: none;
}

.change .line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-2px, -5px);
    transition: ease-in-out 0.5s;
}

.menu .menu_inner {
    max-width: 100%;
    padding: 0px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    overflow-x: hidden;
    transition: 0.3s;
    transform: translateX(360px);
    padding-top: 0px;
    text-align: left;
    background-color: rgba(79, 132, 133, 0.8);
}

.menu .menu_inner.active {
    transform: translateX(0);
    transition: ease-in-out 0.5s;
    width: 100%;
    text-align: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
}

header .menu ul.menu_inner.active li:not(:last-child) {
    margin-right: 0px;
}

.menu .menu_inner .closebtn {
    display: block;
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 36px;
    color: #fff;
}

@media screen and (max-width: 989px) {
    .footinner-cols {
        flex-direction: column;
    }
    .footcol1,
    .footcol2 {
        width: 100%;
    }
    .nft-calender-section h4 {
        text-align: center;
    }
    .nft-calender-inner {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    header .header-bottom .menu {
        flex-direction: row-reverse;
        justify-content: flex-start;
    }
    .not-connected h1 {
        font-size: 2.5rem;
        margin: 1rem 0;
    }
    h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .card {
        padding: 2rem;
    }
    .countdown .clock-item .count-number {
        font-size: 1.5rem;
    }
    .countdown .clock-item .count-text {
        font-size: 1rem;
    }
    .countdown h1 {
        font-size: 1.5rem;
        margin: 1rem 0;
        line-height: 1;
    }
    .countdown p {
        font-size: 1rem;
    }
    .countdown h2 {
        font-size: 28px;
        margin: 1rem 0rem;
    }
    .countdown #mainText {
        margin-bottom: 20px;
    }
    .info-container h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .mint-qty .btn {
        font-size: 14px;
        padding: 1rem 1.5rem;
    }
    .input-number {
        padding: 1rem 20px 1rem 20px;
    }
    .page_roadmap_section {
        padding: 40px 0px;
    }
}

@media screen and (max-width: 640px) {
    .page_roadmap_list {
        flex-direction: column;
        justify-content: center;
    }
    .splide__slide {
        margin-right: 0px;
        padding: 10px;
    }
    .page_roadmap_list .page_roadmap_item:not(:nth-child(3)),
    .page_roadmap_list .page_roadmap_item:not(:nth-child(4)) {
        margin-right: 0px;
    }
}

@media screen and (max-width: 574px) {
    /* header .header_top ul.header-social {
        position: unset;
        flex-direction: row;
        justify-content: flex-end;
    } */
    header .header-bottom {
        flex-direction: column;
    }
    header .header-bottom .menu {
        width: 100%;
        padding: 0 0 0 0;
        justify-content: space-between;
    }
    .container.not-connected {
        padding: 70px 0px;
    }
    .not-connected h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 24px;
        line-height: 28px;
    }
    .countdown ul {
        max-width: 250px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .card {
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0px 20px;
    }
    .container.not-connected {
        padding: 70px 0px;
    }
    .hero-btn {
        padding: 1rem 1.5rem;
    }
    .mint-qty {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
    .page_roadmap_list .page_roadmap_item {
        padding: 90px 15px 40px 35px;
    }
}

@media screen and (max-width: 320px) {
    .splide__slide {
        padding: 0px;
    }
}